@import '../../common_projects_utilities/css/font-awesome', '../../common_projects_utilities/css/reset';

* {
    box-sizing: border-box;
} 
body {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: auto;
}

.title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 16px;
}

.filters {
    display: flex;
    overflow-x: scroll;

    button {
        height: 30px;
        min-width: 125px;
        cursor: pointer;
        &:not(:last-child) {
            margin-right: 20px;
        }
        &.selected {
            background-color: blue;
        }
        &:hover {
            background-color: lightblue;
        }
        &:focus {
            outline: 0 !important;
        }
    }
}

.legends {
    width: auto;
    max-width: 940px;
    margin: 0 auto;
    margin-top: 16px;

    .legend {
        width: auto;
        height: 100%;
        display: none;
        
        &.selected {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            span {
                border-bottom: 3px solid;

                &.color-legend--cs { border-bottom-color: orange; }
            }
        }
        
        &--independentismo {
            background-color: red;
        }
        &--participacion {
            background-color: black;
        }
        &--junts {
            background-color: greenyellow;
        }
        &--erc {
            background-color: purple;
        }
        &--psc {
            background-color: lightblue;
        }
        &--pp {
            background-color: blue;
        }
        &--cs {
            background-color: yellow;
        }
        &--podem {
            background-color: orange;
        }
        &--cup {
            background-color: orangered;
        }
    }

    
}

/* Mapa */
#mapa {
    width:100%;
    max-width: 940px;
    height: 600px;    
    margin: auto;
    margin-top: 16px;
}

/* Cambio de estilos para mapa */
.mapboxgl-ctrl-geocoder--input {
    font-size: 13px !important;
}

div.tooltip {   
    position: absolute;
    display: none;        
    width: 60px;                    
    height: auto;                   
    padding: 1px 5px;               
    font: 0.6rem sans-serif;      
    background: #f7f7f7;       
    pointer-events: none;           
}